@model SControl.App.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Erro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mt-5 error-section">
    <img src="~/imagens/error-image.jpg" alt="Error image" class="img-fluid mb-4 error-image">

    <div class="container">
        <h1>Ocorreu um erro!</h1>
        <p>Desculpe, algo deu errado ao processar sua solicitação.</p>
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>ID da solicitação:</strong> @Model.RequestId
            </p>
        }
        <p>
            <a href="/">Voltar para a página inicial</a>
        </p>
    </div>
</section>
