@{
    ViewData["Title"] = "SControl";
}

<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bem-vindo ao Sistema de Gerenciamento Escolar</h1>
        <p class="lead">Aqui você pode gerenciar todos os aspectos da sua escola, desde matrículas até notas e frequência dos alunos.</p>
        <hr class="my-4">
        <p>Entre ou registre-se para começar a usar o sistema.</p>
    </div>
</div>
